/* Main Style */

@font-face {
  font-family: Pacifico;
  src: url(pacifico.ttf);
}

.line-height {
  line-height: 0;
}

.quote {
  border: 3px dotted teal;
  padding: 10px;
}

a {
  color: unset;
}

body {
  width: 850px;
  margin: 30px auto 50px auto;
  /*background-image: linear-gradient(45deg, red, white, blue, blue, blue, white, red);  --Thailand Flag */
  background-image: linear-gradient(135deg, teal, pink);
  background-color: rgb(18, 62, 112);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: teal;
  text-align: center;
}

.container {
  width: 800px;
  margin: 15px auto;
  border: 10px solid gray;
  border-radius: 15px;
  box-shadow: -10px 15px 5px rgba(0, 0, 0, 0.5);
}

.header {
  max-width: 100%;
  height: 445px;
  background-image: url("images/main.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  font-family: Pacifico;
  font-size: larger;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border-top-left-radius: 10%; */
  border-bottom: 5px solid rgba(0, 128, 128, 0.5);
}

.header-text {
  margin-top: 215px;
}

.destinations-sect {
  background-color: lightyellow;
  padding: 20px 0;
}

.dest-top3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
}

.dest-img {
  width: 200px;
  height: 150px;
  max-width: 250px;
  min-width: 50px;
  border: 0px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(79, 69, 59, 0.8);
}

.guide-sect {
  height: 300px;
  background-color: rgb(228, 144, 48);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.card {
  width: 750px;
  height: 250px;
  background-color: azure;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
}

.image-circle {                                     /* create outer circle at the outer-div of image container-div */
  width: 132px;
  height: 132px;
  border-radius: 50%;
  border-top: 5px dashed #ffcc00;
  border-right: 5px dashed #e49030;
  border-bottom: 5px dashed #295778;
  border-left: 5px dashed #000000;
  padding: 10px;
  animation: spin 30s infinite linear;              /* to spin outer circle of the image */ 
}

.image-circle img {
  width: 120px;
  height: 120px;
  /*border: 5px dashed rgb(228, 144, 48); */
  border-radius: 50%;
  padding: 6px;
  animation: spin 30s infinite reverse linear;     /* for the image not spin itself */
}

@keyframes spin {
  100% { transform: rotate(1turn); }                /* set keyframes for animation */
}

.yourguide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 10px;
}